body {
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	font-family: "Courier New", Courier, monospace;
	letter-spacing: 0.07em;
	line-height: 1.5em;
	background-color: #CCC;
	font-size: 12px;
}
a, a:link, a:visited {
	text-decoration: none;
	color:#333;
}
a:hover {
	text-decoration: underline;
}
img {
	border: 0;
}
/* start box styles */
div.box {
	background-color:#FFF;
	padding: 10px 10px;
	margin: 5px 5px 0 0;
}
.company {
	width: 200px;
	float: left;
}
.company-description {
	width: 380px;
	float: left;
}
.company-categories {
	float: left;
	width: 600px;
}
.product {
	width: 200px;
	height: 335px;
	float: left;
}
.navigation {
	float: left;
	width: 200px;
}
.location-header {
	float: left;
	width: 1000px;
}
/* end box styles */
/* begin text styles */
.post-header {
	text-transform: uppercase;
	text-decoration: underline;
}
.rating {
	font-size: 16px;
}
.location-header {
	font-size: 21px;
}
#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
