<div class="box navigation">
	<form>
		<input type="text" value="search">
	</form><br />
	<ul id="menu">
		<li><a href="#">cities</a>
			<ul>
				<li>new york</li>
				<li>portland</li>
			</ul>
		</li>		
		<li><a href="#">states</a>
			<ul>
				<li>new york</li>
				<li>oregon</li>
			</ul>
		</li>
	</ul>
</div>
<div class="box location-header">
	<span class="location-header">
		new york city
	</span>
</div>